In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
# importing Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:

%matplotlib inline
import matplotlib
matplotlib.rcParams['figure.figsize'] = (20,10)

In [4]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/Bengaluru_House_Data.csv")

In [6]:
df.head(10)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00
6,Super built-up Area,18-May,Old Airport Road,4 BHK,Jaades,2732,4.0,NaN,204.00
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,Brway G,3300,4.0,NaN,600.00
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,NaN,1310,3.0,1.0,63.25
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,NaN,1020,6.0,NaN,370.00

In [8]:
df1 = df

In [9]:

df1.shape

(13320, 9)

In [10]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [11]:
df1.groupby('balcony')['balcony'].agg('count')

balcony
0.0    1029
1.0    4897
2.0    5113
3.0    1672
Name: balcony, dtype: int64

In [12]:
df2 = df1.drop(['area_type', 'availability', 'society'], axis = 'columns')

In [13]:
df2.head()

                   location       size total_sqft  bath  balcony   price
0  Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2               Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                  Kothanur      2 BHK       1200   2.0      1.0   51.00

In [14]:
df2.isnull().sum()

location        1
size           16
total_sqft      0
bath           73
balcony       609
price           0
dtype: int64

In [15]:
df2['balcony'].fillna(0, inplace = True)
df2

                       location       size total_sqft  bath  balcony   price
0      Electronic City Phase II      2 BHK       1056   2.0      1.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0      3.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0      3.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0      1.0   95.00
4                      Kothanur      2 BHK       1200   2.0      1.0   51.00
...                         ...        ...        ...   ...      ...     ...
13315                Whitefield  5 Bedroom       3453   4.0      0.0  231.00
13316             Richards Town      4 BHK       3600   5.0      0.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0      1.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0      1.0  488.00
13319              Doddathoguru      1 BHK        550   1.0      1.0   17.00

[13320 rows x 6 columns]

In [16]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
balcony        0
price          0
dtype: int64

In [17]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [18]:
df3.shape

(13246, 6)

In [19]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [20]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(" ")[0]))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
df3

,location,size,total_sqft,bath,balcony,price,bhk
0,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...
13315,Whitefield,5 Bedroom,3453,4.0,0.0,231.00,5
13316,Richards Town,4 BHK,3600,5.0,0.0,400.00,4
13317,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00,2
13318,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00,4
13319,Doddathoguru,1 BHK,550,1.0,1.0,17.00,1

In [22]:
df4 = df3.drop(['size'], axis = 'columns')
df4

                       location total_sqft  bath  balcony   price  bhk
0      Electronic City Phase II       1056   2.0      1.0   39.07    2
1              Chikka Tirupathi       2600   5.0      3.0  120.00    4
2                   Uttarahalli       1440   2.0      3.0   62.00    3
3            Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                      Kothanur       1200   2.0      1.0   51.00    2
...                         ...        ...   ...      ...     ...  ...
13315                Whitefield       3453   4.0      0.0  231.00    5
13316             Richards Town       3600   5.0      0.0  400.00    4
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00    2
13318           Padmanabhanagar       4689   4.0      1.0  488.00    4
13319              Doddathoguru        550   1.0      1.0   17.00    1

[13246 rows x 6 columns]

In [23]:
df4['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [24]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [25]:
df4[~df4['total_sqft'].apply(is_float)].head(10)

               location      total_sqft  bath  balcony    price  bhk
30            Yelahanka     2100 - 2850   4.0      0.0  186.000    4
122              Hebbal     3067 - 8156   4.0      0.0  477.000    4
137  8th Phase JP Nagar     1042 - 1105   2.0      0.0   54.005    2
165            Sarjapur     1145 - 1340   2.0      0.0   43.490    2
188            KR Puram     1015 - 1540   2.0      0.0   56.800    2
410             Kengeri  34.46Sq. Meter   1.0      0.0   18.500    1
549         Hennur Road     1195 - 1440   2.0      0.0   63.770    2
648             Arekere       4125Perch   9.0      0.0  265.000    9
661           Yelahanka     1120 - 1145   2.0      0.0   48.130    2
672        Bettahalsoor     3090 - 5002   4.0      0.0  445.000    4

In [26]:
def convert_sqft_to_num(x):
  tokens = x.split('-')
  if len(tokens) == 2:
    return (float(tokens[0]) + float(tokens[1]))/2

  try:
    return float(x)
  except:
    return None

In [27]:
convert_sqft_to_num("21")

21.0

In [28]:
df5 = df4.copy()

In [29]:
df5

                       location total_sqft  bath  balcony   price  bhk
0      Electronic City Phase II       1056   2.0      1.0   39.07    2
1              Chikka Tirupathi       2600   5.0      3.0  120.00    4
2                   Uttarahalli       1440   2.0      3.0   62.00    3
3            Lingadheeranahalli       1521   3.0      1.0   95.00    3
4                      Kothanur       1200   2.0      1.0   51.00    2
...                         ...        ...   ...      ...     ...  ...
13315                Whitefield       3453   4.0      0.0  231.00    5
13316             Richards Town       3600   5.0      0.0  400.00    4
13317     Raja Rajeshwari Nagar       1141   2.0      1.0   60.00    2
13318           Padmanabhanagar       4689   4.0      1.0  488.00    4
13319              Doddathoguru        550   1.0      1.0   17.00    1

[13246 rows x 6 columns]

In [30]:
df5['total_sqft']=df5['total_sqft'].apply(convert_sqft_to_num)

In [31]:

df5.head(10)

                   location  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0      1.0   95.00    3
4                  Kothanur      1200.0   2.0      1.0   51.00    2
5                Whitefield      1170.0   2.0      1.0   38.00    2
6          Old Airport Road      2732.0   4.0      0.0  204.00    4
7              Rajaji Nagar      3300.0   4.0      0.0  600.00    4
8              Marathahalli      1310.0   3.0      1.0   63.25    3
9              Gandhi Bazar      1020.0   6.0      0.0  370.00    6

In [32]:
df5['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [33]:

df5.isnull().sum()

location       0
total_sqft    46
bath           0
balcony        0
price          0
bhk            0
dtype: int64

In [34]:
df5 = df5.dropna()
df5.isnull().sum()

location      0
total_sqft    0
bath          0
balcony       0
price         0
bhk           0
dtype: int64

In [35]:
df5.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [36]:
len(df5.location.unique())

1298

In [37]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending = False)
location_stats

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

location
Whitefield               533
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           264
Thanisandra              235
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Kannur                     1
whitefiled                 1
Name: location, Length: 1287, dtype: int64

In [38]:
len(location_stats[location_stats<=10])

1047

In [39]:
locations_less_then_10 = location_stats[location_stats<=10]
locations_less_then_10

location
Sadashiva Nagar          10
Naganathapura            10
Basapura                 10
Nagadevanahalli          10
Kalkere                  10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Kannur                    1
whitefiled                1
Name: location, Length: 1047, dtype: int64

In [40]:
df5.location = df5.location.apply(lambda x: 'other' if x in locations_less_then_10 else x )
len(df5.location.unique())
df5.location.unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli',
       'Lingadheeranahalli', 'Kothanur', 'Whitefield', 'Old Airport Road',
       'Rajaji Nagar', 'Marathahalli', 'other', '7th Phase JP Nagar',
       'Gottigere', 'Sarjapur', 'Mysore Road', 'Bisuvanahalli',
       'Raja Rajeshwari Nagar', 'Kengeri', 'Binny Pete', 'Thanisandra',
       'Bellandur', 'Electronic City', 'Ramagondanahalli', 'Yelahanka',
       'Hebbal', 'Kasturi Nagar', 'Kanakpura Road',
       'Electronics City Phase 1', 'Kundalahalli', 'Chikkalasandra',
       'Murugeshpalya', 'Sarjapur  Road', 'HSR Layout', 'Doddathoguru',
       'KR Puram', 'Bhoganhalli', 'Lakshminarayana Pura', 'Begur Road',
       'Varthur', 'Bommanahalli', 'Gunjur', 'Devarachikkanahalli',
       'Hegde Nagar', 'Haralur Road', 'Hennur Road', 'Kothannur',
       'Kalena Agrahara', 'Kaval Byrasandra', 'ISRO Layout',
       'Garudachar Palya', 'EPIP Zone', 'Dasanapura', 'Kasavanhalli',
       'Sanjay nagar', 'Domlur', 'Sarjapura - Attibele Road',
       'Yeshwanthpur', 'Chandapura', 'Nagarbhavi', 'Devanahalli',
       'Ramamurthy Nagar', 'Malleshwaram', 'Akshaya Nagar', 'Shampura',
       'Kadugodi', 'LB Shastri Nagar', 'Hormavu', 'Vishwapriya Layout',
       'Kudlu Gate', '8th Phase JP Nagar', 'Bommasandra Industrial Area',
       'Anandapura', 'Vishveshwarya Layout', 'Kengeri Satellite Town',
       'Kannamangala', 'Hulimavu', 'Mahalakshmi Layout', 'Hosa Road',
       'Attibele', 'CV Raman Nagar', 'Kumaraswami Layout', 'Nagavara',
       'Hebbal Kempapura', 'Vijayanagar', 'Pattandur Agrahara',
       'Nagasandra', 'Kogilu', 'Panathur', 'Padmanabhanagar',
       '1st Block Jayanagar', 'Kammasandra', 'Dasarahalli', 'Magadi Road',
       'Koramangala', 'Dommasandra', 'Budigere', 'Kalyan nagar',
       'OMBR Layout', 'Horamavu Agara', 'Ambedkar Nagar',
       'Talaghattapura', 'Balagere', 'Jigani', 'Gollarapalya Hosahalli',
       'Old Madras Road', 'Kaggadasapura', '9th Phase JP Nagar', 'Jakkur',
       'TC Palaya', 'Giri Nagar', 'Singasandra', 'AECS Layout',
       'Mallasandra', 'Begur', 'JP Nagar', 'Malleshpalya', 'Munnekollal',
       'Kaggalipura', '6th Phase JP Nagar', 'Ulsoor', 'Thigalarapalya',
       'Somasundara Palya', 'Basaveshwara Nagar', 'Bommasandra',
       'Ardendale', 'Harlur', 'Kodihalli', 'Narayanapura',
       'Bannerghatta Road', 'Hennur', '5th Phase JP Nagar', 'Kodigehaali',
       'Billekahalli', 'Jalahalli', 'Mahadevpura', 'Anekal', 'Sompura',
       'Dodda Nekkundi', 'Hosur Road', 'Battarahalli', 'Sultan Palaya',
       'Ambalipura', 'Hoodi', 'Brookefield', 'Yelenahalli', 'Vittasandra',
       '2nd Stage Nagarbhavi', 'Vidyaranyapura', 'Amruthahalli',
       'Kodigehalli', 'Subramanyapura', 'Basavangudi', 'Kenchenahalli',
       'Banjara Layout', 'Kereguddadahalli', 'Kambipura',
       'Banashankari Stage III', 'Sector 7 HSR Layout', 'Rajiv Nagar',
       'Arekere', 'Mico Layout', 'Kammanahalli', 'Banashankari',
       'Chikkabanavar', 'HRBR Layout', 'Nehru Nagar', 'Kanakapura',
       'Konanakunte', 'Margondanahalli', 'R.T. Nagar', 'Tumkur Road',
       'Vasanthapura', 'GM Palaya', 'Jalahalli East', 'Hosakerehalli',
       'Indira Nagar', 'Kodichikkanahalli', 'Varthur Road', 'Anjanapura',
       'Abbigere', 'Tindlu', 'Gubbalala', 'Parappana Agrahara',
       'Cunningham Road', 'Kudlu', 'Banashankari Stage VI', 'Cox Town',
       'Kathriguppe', 'HBR Layout', 'Yelahanka New Town',
       'Sahakara Nagar', 'Rachenahalli', 'Yelachenahalli',
       'Green Glen Layout', 'Thubarahalli', 'Horamavu Banaswadi',
       '1st Phase JP Nagar', 'NGR Layout', 'Seegehalli', 'BEML Layout',
       'NRI Layout', 'ITPL', 'Babusapalaya', 'Iblur Village',
       'Ananth Nagar', 'Channasandra', 'Choodasandra', 'Kaikondrahalli',
       'Neeladri Nagar', 'Frazer Town', 'Cooke Town', 'Doddakallasandra',
       'Chamrajpet', 'Rayasandra', '5th Block Hbr Layout', 'Pai Layout',
       'Banashankari Stage V', 'Sonnenahalli', 'Benson Town',
       '2nd Phase Judicial Layout', 'Poorna Pragna Layout',
       'Judicial Layout', 'Banashankari Stage II', 'Karuna Nagar',
       'Bannerghatta', 'Marsur', 'Bommenahalli', 'Laggere',
       'Prithvi Layout', 'Banaswadi', 'Sector 2 HSR Layout',
       'Shivaji Nagar', 'Badavala Nagar', 'Nagavarapalya', 'BTM Layout',
       'BTM 2nd Stage', 'Hoskote', 'Doddaballapur', 'Sarakki Nagar',
       'Bharathi Nagar', 'HAL 2nd Stage', 'Kadubeesanahalli'],
      dtype=object)

In [42]:
df5.groupby('location')['location'].agg('count')

location
1st Block Jayanagar            14
1st Phase JP Nagar             24
2nd Phase Judicial Layout      11
2nd Stage Nagarbhavi           24
5th Block Hbr Layout           12
                             ...
Yelahanka                     210
Yelahanka New Town             40
Yelenahalli                    13
Yeshwanthpur                   85
other                        2872
Name: location, Length: 241, dtype: int64

In [43]:
df5.head(10)

                   location  total_sqft  bath  balcony   price  bhk
0  Electronic City Phase II      1056.0   2.0      1.0   39.07    2
1          Chikka Tirupathi      2600.0   5.0      3.0  120.00    4
2               Uttarahalli      1440.0   2.0      3.0   62.00    3
3        Lingadheeranahalli      1521.0   3.0      1.0   95.00    3
4                  Kothanur      1200.0   2.0      1.0   51.00    2
5                Whitefield      1170.0   2.0      1.0   38.00    2
6          Old Airport Road      2732.0   4.0      0.0  204.00    4
7              Rajaji Nagar      3300.0   4.0      0.0  600.00    4
8              Marathahalli      1310.0   3.0      1.0   63.25    3
9                     other      1020.0   6.0      0.0  370.00    6

In [44]:
df5['price_per_sqft'] = (df5['price']*100000)/df5['total_sqft']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:

df5.head(10)

,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000
5,Whitefield,1170.0,2.0,1.0,38.00,2,3247.863248
6,Old Airport Road,2732.0,4.0,0.0,204.00,4,7467.057101
7,Rajaji Nagar,3300.0,4.0,0.0,600.00,4,18181.818182
8,Marathahalli,1310.0,3.0,1.0,63.25,3,4828.244275
9,other,1020.0,6.0,0.0,370.00,6,36274.509804

In [46]:
df6 = df5[~(df5['total_sqft']/df5['bhk']<300)]

In [47]:
df6.shape

(12456, 7)

In [48]:
df6['price_per_sqft'].describe()

count     12456.000000
mean       6308.502826
std        4168.127339
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [49]:
def remove_ppsf_outliers(df):
  df_out = pd.DataFrame()
  for key, subdf in df.groupby('location'):
    m = np.mean(subdf.price_per_sqft)
    sd = np.std(subdf.price_per_sqft)
    reduse_df = subdf[(subdf.price_per_sqft>(m-sd)) & (subdf.price_per_sqft<(m+sd))]
    df_out = pd.concat([df_out, reduse_df], ignore_index=True)
  return df_out

df7 = remove_ppsf_outliers(df6)
df6.shape
df7.shape

(10242, 7)

In [50]:

from pickleshare import stat
def remove_bhk_outliers(df):
  exclusive_indices = np.array([])
  for location, location_df in df.groupby('location'):
    bhk_stats = {}
    for bhk, bhk_df in location_df.groupby('bhk'):
      bhk_stats[bhk] = {
          'mean': np.mean(bhk_df.price_per_sqft),
          'std' : np.std(bhk_df.price_per_sqft),
          'count': bhk_df.shape[0]

      }
    for bhk, bhk_df in location_df.groupby('bhk'):
      stats = bhk_stats.get(bhk-1)
      if stats and stats['count']>5:
        exclusive_indices = np.append(exclusive_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
  return df.drop(exclusive_indices, axis='index')


df8 = remove_bhk_outliers(df7)

In [51]:
df8.shape

(7317, 7)

In [52]:
df9 = df8[~(df8.bath>df8.bhk+2)]
df9.shape

(7313, 7)

In [53]:


df9.head(5)

              location  total_sqft  bath  balcony  price  bhk  price_per_sqft
0  1st Block Jayanagar      2850.0   4.0      1.0  428.0    4    15017.543860
1  1st Block Jayanagar      1630.0   3.0      2.0  194.0    3    11901.840491
2  1st Block Jayanagar      1875.0   2.0      3.0  235.0    3    12533.333333
3  1st Block Jayanagar      1200.0   2.0      0.0  130.0    3    10833.333333
4  1st Block Jayanagar      1235.0   2.0      2.0  148.0    2    11983.805668

In [54]:
df10 = df9.drop(['price_per_sqft'], axis='columns')
df10.head(30)

                     location  total_sqft  bath  balcony   price  bhk
0         1st Block Jayanagar      2850.0   4.0      1.0  428.00    4
1         1st Block Jayanagar      1630.0   3.0      2.0  194.00    3
2         1st Block Jayanagar      1875.0   2.0      3.0  235.00    3
3         1st Block Jayanagar      1200.0   2.0      0.0  130.00    3
4         1st Block Jayanagar      1235.0   2.0      2.0  148.00    2
5         1st Block Jayanagar      2750.0   4.0      0.0  413.00    4
6         1st Block Jayanagar      2450.0   4.0      2.0  368.00    4
8          1st Phase JP Nagar      1875.0   3.0      1.0  167.00    3
9          1st Phase JP Nagar      1500.0   5.0      0.0   85.00    5
10         1st Phase JP Nagar      2065.0   4.0      1.0  210.00    3
12         1st Phase JP Nagar      2059.0   3.0      2.0  225.00    3
13         1st Phase JP Nagar      1394.0   2.0      1.0  100.00    2
14         1st Phase JP Nagar      1077.0   2.0      2.0   93.00    2
15         1st Phase JP Nagar      1566.0   2.0      0.0  180.00    2
16         1st Phase JP Nagar       840.0   2.0      2.0   50.00    1
17         1st Phase JP Nagar      1590.0   3.0      3.0  131.00    3
18         1st Phase JP Nagar      2180.0   3.0      2.0  210.00    3
19         1st Phase JP Nagar      1180.0   2.0      2.0   88.50    2
20         1st Phase JP Nagar      1200.0   2.0      0.0   86.00    2
21         1st Phase JP Nagar      1394.0   2.0      2.0   85.00    2
22         1st Phase JP Nagar      2077.0   3.0      3.0  175.00    3
24         1st Phase JP Nagar      1205.0   2.0      1.0   85.00    2
26         1st Phase JP Nagar       900.0   2.0      1.0   75.00    2
27  2nd Phase Judicial Layout      1450.0   2.0      1.0   50.75    3
28  2nd Phase Judicial Layout      1150.0   2.0      1.0   40.25    2
29  2nd Phase Judicial Layout      1350.0   2.0      2.0   47.25    3
30  2nd Phase Judicial Layout      1350.0   2.0      2.0   47.25    3
31  2nd Phase Judicial Layout       900.0   2.0      2.0   41.00    2
32  2nd Phase Judicial Layout      1681.0   3.0      3.0   69.00    3
33  2nd Phase Judicial Layout      1350.0   2.0      2.0   47.25    3

In [55]:
dummies = pd.get_dummies(df10.location)
dummies.head(5)

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [56]:

df11 = pd.concat([df10, dummies.drop('other', axis = 'columns')], axis='columns')
df11.head(10)

,location,total_sqft,bath,balcony,price,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,2850.0,4.0,1.0,428.0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,2.0,194.0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1st Block Jayanagar,1875.0,2.0,3.0,235.0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1st Block Jayanagar,1200.0,2.0,0.0,130.0,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1st Block Jayanagar,1235.0,2.0,2.0,148.0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1st Block Jayanagar,2750.0,4.0,0.0,413.0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1st Block Jayanagar,2450.0,4.0,2.0,368.0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,1st Phase JP Nagar,1875.0,3.0,1.0,167.0,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1st Phase JP Nagar,1500.0,5.0,0.0,85.0,5,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,1st Phase JP Nagar,2065.0,4.0,1.0,210.0,3,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
df11 = df11.drop('location', axis = 'columns')

In [58]:
df11.shape

(7313, 245)

In [59]:
X = df11.drop('price', axis = 'columns')
X.head(3)

,total_sqft,bath,balcony,bhk,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,1.0,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,2.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,3.0,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
y = df11.price
y.head(10)

0     428.0
1     194.0
2     235.0
3     130.0
4     148.0
5     413.0
6     368.0
8     167.0
9      85.0
10    210.0
Name: price, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [62]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train, y_train)
lr_clf.score(X_test, y_test)

0.8102821675432486

In [63]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=16, test_size=.2, random_state=0)
cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.86759632, 0.84532743, 0.83056465, 0.83895646, 0.86420725,
       0.86204484, 0.78047882, 0.81287727, 0.84286953, 0.80211725,
       0.86130202, 0.84117299, 0.86886649, 0.81813374, 0.79928321,
       0.79802875])

In [64]:
def predict_price(location, sqft, bath, bhk, balcony):
  loc_index = np.where(X.columns==location)[0][0]

  x = np.zeros(len(X.columns))
  x[0] = sqft
  x[1] = bath
  x[2] = balcony
  x[3] = bhk
  if loc_index >= 0:
    x[loc_index] = 1
  return lr_clf.predict([x])[0]

In [65]:
predict_price('1st Phase JP Nagar', 5000, 7, 6, 6)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

417.1072907955765

In [66]:
import pickle

In [67]:
with open('banglore_home_prices_model.pickle', 'wb') as f:
  pickle.dump(lr_clf, f)

In [68]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json", "w") as f:
  f.write(json.dumps(columns))